<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="site-logo" routerLink="/" (click)="scrollToTop()">BlogHub</div>
        <div>
          <ul class="nav justify-content-center">
            <li class="nav-item"><a routerLink="/" class="nav-link" (click)="scrollToTop()">Home</a></li>
            <li class="nav-item"><a routerLink="/about" class="nav-link" (click)="scrollToTop()">About</a></li>
            <li class="nav-item"><a routerLink="/term-conditions" class="nav-link" (click)="scrollToTop()">Terms & Conditions</a></li>
            <li class="nav-item"><a routerLink="/contact" class="nav-link" (click)="scrollToTop()">Contact</a></li>
          </ul>
        </div>
        <p class="mb-2 mt-2 copyright">Copyright &copy; 2023 Vinayak Naik</p>
      </div>
    </div>
  </div>
</footer>
