<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center"> Terms & Conditions </h1>
    <div class="p-5 mt-4 bg-secondary-theme">
      <p>
        Terms and Conditions of Use<br /><br />

        Welcome to BlogHub. By accessing and using this blog, you agree to comply with and be bound by the following terms and conditions of use. If you disagree with any part of these terms, please do not use our blog.
        <br /><br />
        1. Content:
        <br />
        All content on this blog is for general information purposes only. It may be subject to change without notice.
        We make no representations or warranties of any kind, express or implied, about the accuracy, completeness, suitability, or availability of the information contained on the blog.
        <br /><br />
        2. User Conduct:
        <br />
        Users agree to use the blog for lawful purposes only and in a way that does not infringe on the rights of others or restrict their use and enjoyment of the blog.
        <br /><br />
        3. Intellectual Property:
        <br />
        This blog contains material which is owned by or licensed to us. Reproduction is prohibited without explicit permission.
        <br /><br />
        4. Links to Other Websites:
        <br />
        Our blog may contain links to external websites. These links are provided for your convenience, and we do not endorse the content of these websites.
        <br /><br />
        5. Privacy:
        <br />
        We take your privacy seriously. Please refer to our Privacy Policy to understand how we collect, use, and protect your personal information.
        <br /><br />
        6. Comments and User-Generated Content:
        <br />
        Users are solely responsible for the content they post. We reserve the right to moderate, edit, or remove any comments or content that violate these terms.
        <br /><br />
        7. Limitation of Liability:
        <br />
        We are not liable for any direct, indirect, or consequential loss or damage incurred by users in connection with our blog.
        <br /><br />
        8. Changes to Terms:
        <br />
        We reserve the right to modify or replace these terms at any time. Your continued use of the blog after any changes constitutes acceptance of those changes.
        <br /><br />
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme" style="background-color: var(--primary-color);" routerLink="/" (click)="scrollToTop()"> Back to Home </button>
      </div>
    </div>
  </div>
</section>

