<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theme">
      <p>
        At BlogHub, we believe in the power of ideas and the impact of storytelling.
        Born out of a passion, our platform is a haven for avid readers
        and curious minds. We strive to bring you engaging content, handpicked for its quality
        and uniqueness. Whether you're seeking inspiration, information, or simply a delightful
        escape, our curated collection of articles aims to cater to your diverse interests. Join
        us on a journey of discovery, where every word is a step into a world of insight,
        creativity, and enrichment.
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme" style="background-color: var(--primary-color);" routerLink="/" (click)="scrollToTop()"> Back to Home </button>
      </div>
    </div>
  </div>
</section>
