<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card p-5 shadow-effect bg-secondary-theme">
        <div class="card-body">
          <div class="text-center">
            <h3 class="text-theme-primary"> Login </h3>
            <p>Please login to your admin account to post a new blog post</p>
          </div>

          <form #loginForm=ngForm (ngSubmit)="onSubmit(loginForm.value)">
            <div class="form-group">
              <input type="email"
                     class="form-control"
                     placeholder="Email"
                     name="email"
                     #Email="ngModel"
                     required
                     email
                     ngModel
                     [ngClass]="{'is-invalid':Email.touched && Email.invalid}" />

              <div class="alert alert-danger" *ngIf="Email.touched && Email.invalid">
                <div *ngIf="Email.errors?.required">Email cannot be empty.</div>
                <div *ngIf="Email.errors?.email">Please enter a valid email address.</div>
              </div>

            </div>
            <div class="form-group">
              <input type="password"
                     class="form-control"
                     placeholder="password"
                     name="password"
                     #Password="ngModel"
                     required
                     ngModel
                     [ngClass]="{'is-invalid':Password.touched && Password.invalid}"/>

              <div class="alert alert-danger" *ngIf="Password.touched && Password.invalid">Password cannot be empty</div>

            </div>
            <button class="btn btn-info btn-blog btn-theme"> Login </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
